<% include ('partials/header.ejs') %>
  <section>
    <h2>Summary</h2>
    <div id="summary-details">
      <!-- Summary details go here -->
      <p>Expense summary details.</p>
    </div>
  </section>
<% include ('partials/footer.ejs') %>
