<% include ('partials/header.ejs') %>
  <section>
    <h2>View Expenses</h2>
    <div id="expense-list">
      <!-- Expense list will be rendered here -->
      <p>This is where the expenses will be listed.</p>
    </div>
  </section>
<% include ('partials/footer.ejs') %>
